.btn_give-amount, .btn_get-amount, .btn_detail-amount {
  margin-left: 3%;
  font-size: medium;
  border-radius: 5%;
  border: lightness($color: #000000);
}
.container{
  margin: 2%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-wrap: break-word;
}

.container td, .container th {
    border: 1px solid #ddd;
    padding: 8px;
  }

.container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    white-space: nowrap;
}

@media screen and (max-width: 960px) {
  .container{
    margin-right: 20%;
    width: 80%;
  }
  .container td, .container th {
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 12px;
  }
  .btn_give-amount, .btn_get-amount, .btn_detail-amount {
    margin-top: 3%;
    font-size: 12px;
    border-radius: 8%;
  }
}