.filters{
    margin-left: 8%;
}

.filter__items{
    margin: 1px 10px 0 0;
    font-size: 14px;
}

@media screen and (max-width: 960px) {
    .mobile__view-input{
      width: 44%;
    }
    .mobile__view{
        margin: 3%;
    }
  }